<header>
  <h1>TinyApp</h1>
</header>

<div style="margin-bottom: 20px;">
  <form method="GET" action="/register" style="display: inline-block;">
    <input class="pure-button pure-button-primary" type="submit" value="Register">
  </form>
  <% if (!userid) { %>
    <form method="GET" action="/login" style="display: inline-block;">
      <input class="pure-button pure-button-primary" type="submit" value="Log In">
    </form>
    <% } else { %>
    <form method="POST" action="/logout" style="display: inline-block;">
      <input class="pure-button pure-button-primary" type="submit" value="Log Out">
    </form>
  <% } %>
</div>