<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
  </head>
  <body style="padding:20px;">
    <% include partials/_header %> 
    <% if (userId) { %>
    <form class="pure-form" action="/urls" method="POST">
      <label for="longURL">Original URL to convert:</label>
      <input id="longURL" type="url" name="longURL" placeholder="http://" style="width: 300px">
      <input class="pure-button pure-button-primary" type="submit" value="Convert">
    </form>
    <% } else { %>
    <hr>
    <h2>Error 401</h2> 
    <h3>Tiny App account required. Please register/login above first to shorten a URL</h3>
    <% } %>
  </body>
</html>