<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <% include ./partials/_header %>

    <%= longurl %> <br>Shortened URL: <a href='/u/<%= shorturl %>'><%= shorturl %></a>

</body>

</html>