<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <% include ./partials/_header %>

  <% for (let url in urls) { %>
    <li>
      <strong>Full URL</strong>: <%= urls[url] %> <strong>Shortened to:</strong> <a href='/u/<%= url %>'><%= url %></a>
    </li>
  <% } %>
    <li><a href='/urls/new'>Click here to shorten URL</a></li>
    <% %>
</body>

</html>