<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD"
    crossorigin="anonymous">
</head>

<body style="padding:20px;">
  <% include ./partials/_header %>

  <h3>Access Denied. Login Required.</h3>
    <form class="pure-form" action="/login" method="POST" style="margin: 20px 0;">
      <input class="pure-button pure-button-primary" type="submit" value="Click Here to Log In">
    </form>

</body>

</html>