<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
</head>

<body style="padding:20px;">
  <% include ./partials/_header %>

    <%= longurl %> <br>Shortened URL: <a href='/u/<%= shorturl %>'><%= shorturl %></a>

</body>

</html>